{% extends 'base.html.twig' %}

{% block content %}

<h1>{{ character.getName }}</h1>
<a href="{{ path('character_edit', {id: character.getId}) }}">Edit...</a>
<ul>
    <li>Voiced by: <a href="{{ path('va_id', {id: character.VoicedBy.getId}) }}">{{ character.VoicedBy.getLastName }} {{ character.VoicedBy.getFirstName }}</a></li>
    <li>Appears in: <a href="{{ path('media_id', {id: character.AppearsIn.getId}) }}"> {{ character.AppearsIn.getName }}</a></li>
</ul>

{% endblock %}