{% extends 'base.html.twig' %}

{% block content %}

<h1>Characters</h1>
<a href="{{path('character_new')}}">New...</a>
<ul>
    {% for char in characters %}
        <li><a href="{{ path('character_id', {id: char.getId})}}">{{ char.getName }}</a></li>
     {% endfor %}
</ul>

{% endblock %}     