{% extends 'base.html.twig' %}

{% block content %}

    <h1>Voice Artists Database</h1>
    <h2>Browse Media</h2>
    <ul>
    {% for media in medias %}
        <li><a href="{{ path('media_id', {id: media.getId})}}">{{ media.getName }}</a></li>
    {% endfor %}
    </ul>
    <h2>Browse Characters</h2>
    <ul>
    {% for char in characters %}
        <li><a href="{{ path('character_id', {id: char.getId})}}">{{ char.getName }}</a></li>
     {% endfor %}
    </ul>
    <h2>Browser Voice Artists</h2>
    <ul>
    {% for va in vas %}
        <li><a href="{{ path('va_id', {id: va.getId})}}">{{ va.getLastName }} {{ va.getFirstName }}</a></li>
     {% endfor %}
    </ul>

{% endblock %}