{% extends 'base.html.twig' %}

{% block content %}

<h1>Media</h1>
<a href="{{path('media_new')}}">New...</a>
<ul>
    {% for media in medias  %}
        <li><a href="{{ path('media_id', {id: media.getId})}}">{{ media.getName }}</a></li>
     {% endfor %}
</ul>

{% endblock %}     