<html>
<body>
    <h1>{{ type.getName }}</h1>
    <ul>
        {% for media in type.media %}
            <li><a href="{{path('media', {id: media.getId})}}">{{ media.getName }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>