{% extends 'base.html.twig' %}

{% block content %}

<h1>{{ media.getName }}</h1>
<a href="{{ path('media_id', {id: media.getId}) }}">Edit...</a>
<h2>Characters</h2>
<ul>
    {% for char in media.characters %}
        <li><a href="{{path('character_id', {id: char.getId})}}"> {{ char.getName }}</a></li>
    {% endfor %}
</ul>

{% endblock %} 