{% extends 'base.html.twig' %}

{% block content %}

<h1>{{ va.getLastName }} {{ va.getFirstName }}</h1>
<a href="{{ path('va_edit', {id: va.getId}) }}">Edit...</a>
<h2>Characters Voiced</h2>
<ul>
    {% for char in va.characters %}
        <li><a href="{{path('character_id',{id: char.getId})}}">{{ char.getName }}</a> (<a href="{{path('media_id',{id: char.AppearsIn.getId})}}">{{ char.AppearsIn.getName }}</a>)</li>
    {% endfor %}
</ul>

{% endblock %}