{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{verb}} voice artist</h1>

    {{ form_start(form) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i>Save
        </button>
        <a href="{{ path('va_list') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Back to list
        </a>
    {{ form_end(form) }}
{% endblock %}