{% extends 'base.html.twig' %}

{% block content %}

<h1>Voice Artists</h1>
<a href="{{path('va_new')}}">New...</a>
<ul>
    {% for va in vas %}
        <li><a href="{{ path('va_id', {id: va.getId})}}">{{ va.getLastName }} {{ va.getFirstName }}</a></li>
     {% endfor %}
</ul>

{% endblock %}     